html {
	font-family: 'Montserrat', sans-serif;
	width: 940px;
	height: 720px;
	background: #d2def0;
}

main {
	display: flex;
	margin-top: 5%;	
}

header img {
	margin: 3% 0 0 3%;
}

.msg {
	border: none;
	font-size: 40px;
	width: 640px;
	height: 70%;
	margin-left: 25%;
	margin-top: 8%;
	line-height: 150%;
	word-wrap: initial;
	background: transparent;
}

.msg::placeholder {
	color: #0A3871;
}

 .aviso {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 20%;
	left: 11%;
	top: 83%;
	font-size: 9px;
}

.botoes {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 60%;
	height: 4em;
	left: 10%;
	top: 88%;
}

.cripto {
	Width: 328px;
	Height: 67px;
	border-Radius: 24px;
	Padding: 15px;
	background: #0A3871;
	border: none;
	text-align: top;
	font-size: 18px;
}

.cripto:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.cripto p {
	color: white;
	position: static;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	flex: none;
	order: 0;
	flex-grow: 1;
	margin: 0px 8px;
}


.descripto {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px;
	position: static;
	width: 328px;
	height: 67px;
	margin-left: 40px;
	background: darkgreen;
	border: 1px solid seagreen;
	box-sizing: border-box;
	border-radius: 24px;

}

.descripto:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.descripto p {
	color: white;
	position: static;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	flex: none;
	order: 0;
	flex-grow: 1;
	margin: 8px 8px;
	border-color: #eeeeee;	
}

.texto {
	position: absolute;
	width: 30%;
	height: 80%;
	left: 60%;
	top: 10%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	word-wrap: normal;
	background: #FFFFFF;
	border-radius: 32px;
	background-image: url("produtos.png");
	background-repeat: no-repeat;
	background-position: center 3em, left top;
}

#retangulo {
	display: flex;
	border: none;
}

.texto::placeholder {
	position: absolute;
	align-items: center;
	margin-top: 75%;
	right: 25%;
}

.copiar {
	position: absolute;
	right: 20%;
	top: 80%;
	width: 120px;
	height: 40px;
	font-size: 16px;
	border-radius: 12px;
	border-color: lightgray;
}
